body {
  min-height: 400px;
  background-color: beige;
}
.header{
  height: 100px;
  background-color: #222222;
  color: rgb(240,244,245);
  margin-top:-63px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
